.DS_Store
*.pyc
*.egg-info
*.swp
tags
kleingartenverein/docs/current
node_modules/

lib/
lib64
bin/

erpnext_kleingartenverein/tests/payment_creation/test_payments.csv
erpnext_kleingartenverein/tests/sites/mysite.localhost/**