{%- macro padding(space_value, padding_kind) -%}
{%- if space_value == 'Extra Small' -%}
    -{{padding_kind}}-10
{%- elif space_value == 'Small' -%}
    -{{padding_kind}}-6
{%- elif space_value == 'Medium' -%}
    {{padding_kind}}-20
{%- elif space_value == 'Large' -%}
    {{padding_kind}}-32
{%- elif space_value == 'Extra Large' -%}
    {{padding_kind}}-48
{%- elif space_value == 'Default' -%}
    {{padding_kind}}-20
{%- endif -%}
{%- endmacro -%}


{% macro render_section(item) %}

{% set ns = namespace(css='', padding='pt-8 pb-8', top_space='', bottom_space='') %}
{%- if item.custom_section_css -%}
    {% set ns.css = item.custom_section_css %}
{%- endif -%}

{% if item.separator_type == 'Top' %}
    {% set ns.padding = 'pb-8' %}
{%- endif -%}

<section class="relative {{ns.padding}} {{ns.css}} {{item.background_css}}  ">
    {% if item.separator_type == 'Top' %}
    {{ separator(item)}}
    {%- endif -%}
    <div class="container mx-auto px-4 {{padding(item.top_space,'md:pt')}} {{padding(item.bottom_space,'md:pb')}}">
        {{ section_content(item)}}
    </div>
</section>

{% endmacro %}