{% macro section_content(item) %}

<div class="flex flex-wrap items-center card-section">

  {% if item.content_template == 'LeftPreview' %}
  {{ section_card(item) }}
  {% endif %}

  <div class="md:w-5/12 px-4 mr-auto ml-auto">

    {% if item.headline %}
    <h1 class="text-nature-white mb-2 text-lg">
      {{ item.headline }}
    </h1>
    {% endif %}

    {% if item.custom_template and item.custom_template != 'Markdown' %}
      {% if item.custom_template == 'Downloads' %}
      {% from "templates/macros/downloads.html" import downloads %}
      {{downloads(item.custom_template_parameters)}}
      {% endif %}
    {% else %}
    <div class="markdown mt-4">
      {{ item.content | markdown}}
    </div>
    {% endif %}
  </div>

  {% if item.content_template == 'RightPreview' %}
  {{ section_card(item) }}
  {% endif %}
</div>

{% endmacro %}