{% macro section_card(item) %}

{% if item.card %}


{% set ns = namespace(align='items-center') %}
{%- if item.card and item.content_template == 'TopLeftPreview'  -%}
    {% set ns.align = 'mt-4' %}
{%- endif -%}
{%- if item.card and item.content_template == 'TopRightPreview'  -%}
    {% set ns.align = 'mt-4' %}
{%- endif -%}

{% set card = frappe.get_doc('Section Card', item.card) %}

<div class="sm:full-width mt-4 mb-4 md:mt-0 md:mb-0 md:w-4/12 {{ns.align}} px-4 mr-auto ml-auto  {% if card.additional_css  %} {{ card.additional_css }} {%endif%}">
    <div
      class="relative flex flex-col min-w-0 break-words bg-white shadow-lg rounded-lg bg-nature-white"
    >
      <img
        alt="..."
        src="{{card.image}}"
        class="w-full align-middle rounded-t-lg"
      />
      
      <blockquote class="relative p-8 bg-nature-white">
        <svg
          preserveAspectRatio="none"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 583 95"
          class="absolute left-0 w-full block text-nature-white"
          style="height: 95px; top: -94px;"
        >
          <polygon
            points="-30,95 583,95 583,65"
            class="fill-current"
          ></polygon>
        </svg>
        {% if card.headline %}
        <h4 class="text-xl font-bold text-gray-800">
          {{ card.headline }}
        </h4>
        {% endif %}
        {% if card.content %}
        {{card.content | markdown}}
        {% endif %}
      </blockquote>
    </div>
  </div>
  {% endif %}
{% endmacro %}