{% macro separator_wave(item) %}
<div class="bottom-auto left-0 right-0 w-full absolute pointer-events-none -mt-20"
     style="height: 82px;">
  <svg class="absolute bottom-0 overflow-hidden {{item.separator_background_css}}"   xmlns="http://www.w3.org/2000/svg"
       preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 300" x="0" y="0">
    <path class="fill-current" d="M0,100 C640,200 1920,0 2560,100 L2560,300 L0,300 Z"></path>
  </svg>
</div>

{%endmacro%}

{% macro separator_up(item) %}
<div class="bottom-auto left-0 right-0  w-full absolute pointer-events-none overflow-hidden -mt-20"
  style="height: 82px;">
  <svg class="absolute bottom-0 overflow-hidden {{item.separator_background_css}}" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
    version="1.1" viewBox="0 0 2560 100" x="0" y="0">
    <polygon class="fill-current" points="2560 0 2560 100 0 100"></polygon>
  </svg>
</div>
{%endmacro%}

{% macro separator_down(item) %}
<div class="bottom-auto left-0 right-0  w-full absolute pointer-events-none overflow-hidden -mt-20"
  style="height: 82px;">
  <svg class="absolute bottom-0 overflow-hidden {{item.separator_background_css}}" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
    version="1.1" viewBox="0 0 2560 100" x="0" y="0">
    <polygon class="fill-current" points="0 0 2560 100 0 100"></polygon>
  </svg>
</div>
{%endmacro%}

{% macro separator(item) %}

  {%- if item.separator_style == 'Up' -%}
    {{separator_up(item)}}
  {%- elif item.separator_style == 'Down' -%}
    {{separator_down(item)}}
  {%- elif item.separator_style == 'Wave' -%}
    {{separator_wave(item)}}
  {%- else -%}
    {{separator_up(item)}}
  {%- endif -%}

{%endmacro%}