{% macro render_dropdown(parent_item) %}
<button data-dropdown-toggle="{{parent_item.name}}" class="
      hidden md:flex md:fit items-center {{button_css()}}
         ">
  {{parent_item.label}}
  <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
      clip-rule="evenodd"></path>
  </svg></button>
<!-- Dropdown menu -->
<div id="{{parent_item.name}}" class="z-10 hidden bg-graygreen-200 
  font-normal divide-y divide-gray-100 shadow w-full md:w-fit">
  <ul class="py-2" aria-labelledby="dropdownLargeButton">
    {% if top_bar_items -%}
    {%- for childitem in top_bar_items -%}

    {% if childitem.parent_label and childitem.parent_label != '' and childitem.parent_label == parent_item.label -%}

    <li>
      <a href="{{childitem.url}}" class="block px-4 py-2 hover:bg-sand">
        {{childitem.label}}
      </a>
    </li>
    {%- else -%}
    {%- endif -%}
    {%- endfor %}
    {%- endif %}
  </ul>
</div>
{% endmacro %}


{% macro dropdown_children(parent_item) %}
{% if top_bar_items -%}
<div id="accordion-collapse-body-{{parent_item.name}}" class="hidden"
  aria-labelledby="accordion-collapse-heading-{{parent_item.name}}">
  <div class="border border-gray-200">
    {%- for childitem in top_bar_items -%}

    {% if childitem.parent_label and childitem.parent_label != '' and childitem.parent_label == parent_item.label -%}

    <a href="{{childitem.url}}">
      <p class="{{child_button_css()}}">
        {{childitem.label}}
      </p>
    </a>

    {%- else -%}
    {%- endif -%}
    {%- endfor %}
  </div>
</div>
{%- endif %}
{% endmacro %}

{% macro render_accordion(parent_item) %}
<div id="accordion-collapse-{{parent_item.name}}" data-accordion="collapse"
  class="w-full text-font-light block md:hidden mb-2">
  <h2 id="accordion-collapse-heading-{{parent_item.name}}">
    <button type="button" class="{{button_css()}}" data-accordion-target="#accordion-collapse-body-{{parent_item.name}}"
      aria-expanded="false" aria-controls="accordion-collapse-body-{{parent_item.name}}">
      <div class="flex">
        <p class="w-full text-left">{{parent_item.label}}</p>
        <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
    </button>
  </h2>

  {{ dropdown_children(parent_item) }}
</div>


{% endmacro %}

{% macro button_css() %}
py-2 pl-3 pr-4 border-b
border-gray-100
hover:bg-gray-50
w-full
md:hover:bg-transparent
md:border-0
md:hover:text-blue-700
md:p-0 md:w-auto

max-[1025px]:text-sm

{% endmacro %}

{% macro child_button_css() %}
py-2 pl-3 pr-4
border-gray-100
hover:bg-gray-50
w-full
md:hover:bg-transparent
md:hover:text-blue-700

{% endmacro %}

{% macro render_item(navbar_item, submenu=False, parent=False) %}
<ul class="whitespace-nowrap">

  {% set ns = namespace(has_children=false) %}
  {% if top_bar_items -%}
  {%- for childitem in top_bar_items -%}
  {% if childitem.parent_label and childitem.parent_label == navbar_item.label -%}
  {% set ns.has_children = True %}
  {%- endif -%}
  {%- endfor %}
  {%- endif %}
  <li class="flex items-center">
    {% if ns.has_children -%}
    {{render_dropdown(navbar_item)}}
    {{render_accordion(navbar_item)}}
    {% else %}
  <li class="flex items-center">
    <a href="{{navbar_item.url}}" class="{{button_css()}}">
      {{navbar_item.label}}
    </a>
  </li>
  {% endif %}
  </li>
</ul>
{% endmacro %}

{% macro usermenu() %}
<div class="invisible md:visible flex items-center md:order-2">
  <button type="button" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
    data-dropdown-placement="bottom">
    <i class="fa fa-sign-in text-nature-white text-lg aria-hidden=" true"></i>
  </button>
  <!-- Dropdown menu -->
  <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow"
    id="user-dropdown">
    <div class="px-4 py-3">
      <span class="block text-sm ">{{user}}</span>
    </div>
    <ul class="py-2" aria-labelledby="user-menu-button">
      <li>
        <a href="/dashboard" class="block px-4 py-2 text-sm hover:bg-gray-100">{{_('Dashboard')}}</a>
      </li>
      <li>
        <a href="/logout" class="block px-4 py-2 text-sm hover:bg-gray-100">{{_('Sign out')}}</a>
      </li>
    </ul>
  </div>
</div>
{% endmacro %}

<nav class="top-0 absolute z-50 w-full flex flex-wrap">
  <div class="container bg-head mx-auto items-center justify-start mt-4 px-4 py-4">

    <div class="flex items-center md:hidden ">
      <button data-collapse-toggle="navbar-multi-level" type="button" class="inline-flex items-center 
              text-sm text-nature-white 
              rounded-sm
              p-2
              hover:bg-gray-100 
              hover:text-white
              hover:opacity-75
              focus:outline-none 
              focus:ring-2 
              focus:ring-gray-200" aria-controls="navbar-multi-level" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
      <div class="text-font-light text-lg text-center w-full">
        {{club_name}}
      </div>
    </div>

    <div class="hidden w-full md:block md:w-auto text-lg " id="navbar-multi-level">
      <div class="flex justify-between">
        <ul class="w-full flex flex-col font-medium 
          md:flex-row 
          md:mt-0 md:border-0  
          text-nature-white
          ">

          <li class="pl-3  md:pl-0 py-2 md:py-0">
            <a href="/">
              <div class="flex h-full items-center">
                <div><i class="fa fa-home text-lg mr-4 md:mr-8"></i></div>
                <div class="md:hidden">{{_('Home')}}</div>
              </div>
            </a>
          </li>

          {% if top_bar_items -%}
          {%- for itm in top_bar_items -%}
          {% if not itm.parent_label and not itm.right -%}
          <li class="w-full flex flex-col md:max-w-fit justify-center justify-center mr-4">
            {{ render_item(itm, parent=True) }}
          </li>
          {%- endif -%}
          {%- endfor %}
          {%- endif %}

          <li class="flex items-center visible mt-4 md:invisible py-2 md:py-0">
            <button class="
            {{button_css()}}
            " id="user-dropdown-button-2" aria-expanded="false" data-dropdown-toggle="user-dropdown"
              data-dropdown-placement="bottom">
              <a>Mein Kleingartenverein</a>
            </button>
          </li>


        </ul>

        {%- if user and user != '' and user != 'Guest' -%}
          {{ usermenu() }}
        {%- endif -%}
      </div>
    </div>
  </div>

  <!-- breadcrumbs -->
  {%- set breadcrumb_count = breadcrumbs|length -%}
  {%if breadcrumb_count > 0 %}
  <div class="container bg-head mx-auto items-center justify-start mt-2 px-4 py-2">
    {% block breadcrumbs %}
    {% include 'erpnext_kleingartenverein/templates/breadcrumbs/breadcrumbs.html' %}
    {% endblock %}
  </div>
  {%- endif -%}
</nav>