<div class="w-full h-screen">

  <div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full md:w-2/5 md:w-[40vh]">
        <div class="
        border border-graygreen-100  
            relative flex flex-col min-w-0 break-words w-full mb-6
              shadow-lg rounded-lg bg-graygreen-300 ">

          <div class="flex-auto px-4 lg:px-10 py-10 pt-1 text-nature-white">
            <div class="text-nature-white py-4 text-gray-800 text-xl text-center mb-3 font-bold">
              <h1>Login</h1>
            </div>
            <form class="form-login text-gray-800" role="form">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-xs font-bold mb-2" for="grid-password">Email</label><input
                  id="login_email" autocomplete="username" required
                  class="border-0 px-3 py-3 placeholder-gray-400  bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Email" style="transition: all 0.15s ease 0s;" />
              </div>
              <div class="relative w-full mb-3">
                <label class="block uppercase text-xs font-bold mb-2" for="grid-password">Password</label><input
                  type="password" id="login_password" autocomplete="current-password" required
                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Password" style="transition: all 0.15s ease 0s;" />
              </div>
              <div class="flex flex-wrap mt-6 text-primary-600">
                <div class="w-1/2">
                  <a href="resetpassword"><small>{{ _('Forgot Password') }}</small></a>
                </div>
              </div>
              <div class="text-center mt-6">
                <button class="
                  bg-blue-500
                  text-white 
                  active:bg-sand  text-sm font-bold uppercase px-6 py-3 rounded shadow 
                  hover:shadow-lg outline-none 
                  focus:outline-none 
                  mr-1 mb-1 w-full" type="submit" style="transition: all 0.15s ease 0s;">
                  Sign In
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>