<section class="w-full h-screen">

  <div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="sm:w-full md:w-3/5  lg:w-3/5 xl:w-3/5 2xl:w-4/12 px-4">
        <div class="
          border border-graygreen-100  
              relative flex flex-col min-w-0 break-words w-full mb-6
                shadow-lg rounded-lg bg-graygreen-300 ">

          <div class="flex-auto px-4 lg:px-10 py-10 pt-1 text-nature-white">
            <div class="text-nature-white py-4 text-gray-800 text-xl text-center mb-3 font-bold">
              <h1>{{ _('Reset Password') }}</h1>
            </div>
            <form id="reset-password">
              <div class="form-group">
                <input id="old_password" type="password"
                  class="form-control mb-4 w-full" placeholder="{{ _('Old Password') }}" autocomplete="current-password">
              </div>
              <div class="form-group">
                <input id="new_password" type="password"
                  class="form-control mb-4 w-full" placeholder="{{ _('New Password') }}" autocomplete="new-password">
                <span class="password-strength-indicator indicator"></span>
              </div>
              <div class="form-group">
                <input id="confirm_password" type="password"
                  class="form-control w-full" placeholder="{{ _('Confirm Password') }}" autocomplete="new-password">
        
                <p class="password-mismatch-message text-muted small hidden mt-2"></p>
              </div>
              <p class='password-strength-message text-muted small hidden'></p>
              <button type="submit" id="update"
                class="btn btn-update
                mt-4
                bg-blue-500
                text-white 
                active:bg-sand  text-sm font-bold uppercase px-6 py-3 rounded shadow 
                hover:shadow-lg outline-none 
                focus:outline-none 
                
                ">{{_("Confirm")}}</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>