{% extends "templates/web.html" %}

{% from "templates/head/head_with_image.html" import head_with_image with context %}
{% from "templates/macros/separator.html" import separator with context %}
{% from "templates/macros/section_card.html" import section_card with context %}
{% from "templates/macros/section_content.html" import section_content with context %}
{% from "templates/macros/default_section.html" import render_section with context %}

{% block page_content %}
    
    {% set ns = namespace(background='text-primary-page') %}

    {%- if sections | length > 0 -%}
      {% if  sections[0].separator_background_css %}
        {%set ns.background=sections[0].separator_background_css %}
      {%- endif -%}
    {%- endif -%}

    {{ head_with_image(headline, default_header_image, ns.background) }}
    
    {% for item in sections %}
      {{ render_section(item) }}
    {% endfor %}      

{% endblock%}
