{% extends "templates/web.html" %}

{% from "templates/head/head_with_image.html" import head_with_image with context %}

{% block breadcrumbs %}
{% endblock %}

{% block page_content %}

{{ head_with_image(_('Bulletins'), default_header_image, 'text-primary-page') }}

<div class="pt-6 pb-6">
    <section class="md:mx-4 flex justify-center">
        <div
            class=" w-full md:w-3/5 lg:w-3/5 xl:w-3/5 2xl:w-3/5 container 
            md:border-2 
            md:border-nature-green-200 
            pb-8 mb-8 bg-nature-green-100 
            md:rounded-lg">
            <div class="text-center border-b-4 mx-4">
                <h3 class="text-xl md:text-2xl font-semibold pt-2 pb-2">{{headline}}</h3>
            </div>
            <div class="mt-8">
                <div class="px-4 markdown">
                    {{content | markdown}}
                </div>

                <div class="mt-4 px-4">
                    <p><b>{{club_city}}, {{frappe.format(date, 'Date')}}</b></p>
                </div>
            </div>
        </div>
    </section>
    <section>

    </section>
    <section class="mx-4 flex justify-center">
        <div
            class=" w-full md:w-3/5 lg:w-3/5 xl:w-3/5 2xl:w-3/5 
                     ">
            <a href="/aktuelles/aushaenge"
                class="bg-nature-green-100 hover:bg-nature-green-300 
                focus:bg-nature-green-100
                focus:bg-nature-green-400 font-medium 
                rounded-lg text-sm px-5 py-2.5 
                mr-2 mb-2 dark:bg-blue-600 
                dark:hover:bg-blue-700 
                focus:outline-none dark:focus:ring-blue-800">{{_('Show all bulletins')}}</a>
        </div>
    </section>
</div>


{% endblock%}