<section class="md:mx-4 flex justify-center">
    <div
        class=" w-full md:w-3/5 lg:w-3/5 xl:w-3/5 2xl:w-3/5 container 
            md:border-2 
            md:border-nature-green-200 
            pb-8 mb-8 bg-nature-green-100 
            md:rounded-lg">
        <div class="text-center border-b-4 mx-4">
            <h3 class="text-3xl font-semibold pt-2 pb-2">{{headline}}</h3>
        </div>
        <div class="mt-8">
            <div class="px-4 markdown">
                {{content | markdown}}
            </div>

            <div class="mt-4 px-4">
                <p><b>{{club_city}}, {{frappe.format(date, 'Date')}}</b></p>
            </div>
        </div>
    </div>
</section>