@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';


.card-section
{
    /* background-color: blue;    */
}

.card-section ul
{
    @apply max-w-xl space-y-1 list-square pt-2 pb-1 font-semibold;
}

.card-section p {
    @apply py-2
}

.card-section h1, .markdown h1
{
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
} 

.card-section h2, .markdown h2
{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.card-section h3, .markdown h3
{
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

.card-section h4, .markdown h4 /* text-3xl */
{
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
} 


.blog-page .markdown
{
    @apply text-nature-white
}

/* .blog-page .markdown p
{
    @apply text-left leading-relaxed text-xl
} */

.invalid-login {
    @apply bg-red-800 !important
}

.markdown h1
{
    @apply mb-2
}

.markdown h2
{
    @apply mb-2
}

.markdown h3
{
    @apply mb-2
}

.markdown table
{
    @apply rounded w-full text-left text-nature-white bg-highlight-light-200 mt-4
}


.markdown table thead tr th
{
    @apply py-4 text-center
}

.markdown table td
{
    @apply px-4 text-center
}

.markdown table tr:last-child td 
{
    @apply pb-4
}