@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';

.card-section
{
    /* background-color: blue;    */
}

.card-section ul
{
    @apply max-w-md space-y-1 text-gray-800 list-square pt-4 pb-4;
}

.card-section p {
    @apply py-2
}

.card-section h1
{
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
} 

.card-section h2
{
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

.card-section h3
{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.card-section h4
{
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
} 


.blog-page .markdown
{
    @apply text-nature-white
}

.blog-page .markdown p
{
    @apply text-left leading-relaxed text-xl
}

.markdown h1
{
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
} 

.markdown h2
{
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

.markdown h3
{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.markdown h4
{
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    margin-bottom: .5rem;
} 

