<footer class="bg-white dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-8 py-6 lg:py-8">
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="flex justify-center ...">
            <div class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
                <a href="/impressum" class="hover:underline">Impressum</a>
            </div>
            <div class="text-sm text-gray-500 sm:text-center dark:text-gray-400 px-2">|</div>
            <div class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
                <a href="/datenschutz" class="hover:underline">Datenschutzerklärung</a>
            </div>
        </div>
    </div>
</footer>