{% extends base_template_path %}

{% from "templates/head/head_with_image.html" import head_with_image with context %}

{%- block customhead -%}

    {% include 'erpnext_kleingartenverein/templates/public_js.html' %}
    {% include 'erpnext_kleingartenverein/templates/public_script.html' %}
    
{%- endblock -%}

{%- block content -%}

{{ head_with_image(_('Dates'), default_header_image, separator=False ) }}

{% set ns = namespace(background='') %}
{%- if service_section_background  -%}
    {% set ns.background = service_section_background %}
{%- endif -%}


<div class="w-full flex justify-center" style="background-image: url('{{ns.background}}'); background-size: cover;">
  <div class="w-full md:max-w-[90vh] md:mx-4 md:my-4">
    <div id="app"></div>
    <div id="modals"></div>
    <div id="popovers"></div>
  </div>
</div>

{%- endblock -%}

{%- block script %}
<script> window.csrf_token = '{{ csrf_token }}'; </script>
{%- endblock %}