{% extends "templates/web.html" %}

{% macro bulletin_item(item, submenu=False, parent=False) %}
<li>
  <a href="{{item.route}}">
    {{item.headline}}
  </a>
</li>
{% endmacro %}

{% from "templates/macros/separator.html" import separator with context %}
{% from "templates/macros/section_card.html" import section_card with context %}
{% from "templates/macros/section_content.html" import section_content with context %}
{% from "templates/macros/default_section.html" import render_section with context %}

{% from "templates/head/head_with_image.html" import head_with_image with context %}

{% from "templates/macros/startpage_card.html" import bulletin_card with context %}
{% from "templates/macros/startpage_card.html" import blog_card with context %}
{% from "templates/macros/startpage_card.html" import calendar_card with context %}

{% block page_content %}

{% set ns = namespace(header_image=header_image) %}
{%- if not ns.header_image -%}
{% set ns = namespace(header_image=default_header_image) %}
{%- endif -%}

{{ head_with_image(club_name, ns.header_image) }}

<section class="-mt-24">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      
      {%- for card in primary_cards|sort(attribute='sort') -%}
        {%- if card.card_type == 'Bulletin' -%}
          {{bulletin_card(card)}}
        {%- elif card.card_type == 'Blog' -%}
          {{blog_card(card)}}
        {%- elif card.card_type == 'Calendar' -%}
          {{calendar_card(card)}}
        {%- endif -%}
      {%- endfor -%}

    </div>
  </div>
</section>

{% for item in sections %}
{{ render_section(item) }}
{% endfor %}

{% endblock%}